.resaltar {
    animation: 300ms ease resaltar alternate 3;
}

@keyframes resaltar-nocturno {
    from {
        color: lighten($color-base, 10);
        opacity: 0.5;
    }
}

@keyframes resaltar-claro {
    from {
        color: lighten($color-base, 8);
    }
}

@keyframes resaltar {
    from {
        opacity: 0.8;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
        transform: rotateX(-10deg);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.1;
    }
}

.fadeOut {
    animation: 200ms ease fadeOut 1;
}

.fadeIn {
    animation: 200ms ease fadeIn 1;
}