.resaltar {
	--color: var(--color-resaltado);
    color: var(--color-resaltado);

    path {
        fill: var(--color-resaltado);
    }

    svg {
        height: 100%;
        width: 100%;
    }
    
	&--azul {
        --color-resaltado: #{lighten(blue, 20)};
    }

    &--verde {
        --color-resaltado: #{green};
    }

 jjjjjnnjnjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjhghhjhhhhhhhhhhhhhhhhhhhhhh   &--purpura {
        --color-resaltado: purple;
    }

    &--morado {
        --color-resaltado: #6b0096;
    }

    &--verde-turquesa {
        --color-resaltado: #076161;
    }

    &--turquesa {
        --color-resaltado: #0080d4;
    }

    &--rosado {
        --color-resaltado: #af00af;
    }

    &--naranja {
        --color-resaltado: #f06600
    }

    &--amarillo {
        --color-resaltado: #f09500;
    }

    &--marron {
        --color-resaltado: brown;
    }

    &--gris {
        --color-resaltado: #414141;
    }

    &--verde-oscuro {
        --color-resaltado: #030;
    }

	&--rojo {
		--color-resaltado: #f00000;
	}

    &--verde-brillante {
        --color-resaltado: #00c000;
    }

    &--verde-turquesa-claro {
        --color-resaltado: #{lighten(#076161, 10)};
    }

    &--plateado {
        --color-resaltado: #{darken(silver, 10)};
    }

    &--violeta {
        --color-resaltado: violet;
    }
}
