.resaltar {
	--color: var(--color-resaltado);
    color: var(--color);
    
	&--azul {
        --color-resaltado: blue;
    }

    &--verde {
        --color-resaltado: #{darken(green, 10)};
    }

    &--purpura {
        --color-resaltado: purple;
    }

    &--morado {
        --color-resaltado: #4d006b;
    }

    &--verde-turquesa {
        --color-resaltado: #076161;
    }

    &--turquesa {
        --color-resaltado: #0080d4;
    }

    &--rosado {
        --color-resaltado: #af00af;
    }

    &--naranja {
        --color-resaltado: #f06600
    }

    &--amarillo {
        --color-resaltado: #f09500;
    }

    &--marron {
        --color-resaltado: brown;
    }

    &--gris {
        --color-resaltado: #414141;
    }

    &--verde-oscuro {
        --color-resaltado: #030;
    }

	&--rojo {
		--color-resaltado: #f00000;
	}
}
