button {
    border: 0;
    color: inherit;
    font: inherit;
    border-radius: 4px;
    transition: 300ms ease;
    outline: medium none;
}

.audio {
    --size: 50px;

    svg {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    path {
        fill: rgba(white, 0.7);
        transition: 300ms ease;
    }

    &__button {
        display: block;
        position: relative;
        padding: 10px;
        background-color: transparent;

        width: var(--size);
        height: var(--size);

        &::after {
            content: "";
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &:focus {
            background-color: rgba($color-secundario, 0.2);
        }

        &:hover {
            background-color: rgba($color-secundario, 0.4);

            path {
                fill: white;
            }
        }

        &:active {
            background-color: rgba($color-secundario, 0.6);
            transition: none;
        }
    }

    button {
        &:first-child {
            display: none;
        }

        &:last-child {
            display: block;
        }
    }

    &--active {
        button {
            &:first-child {
                display: block;
            }

            &:last-child {
                display: none;
            }
        }
    }
}
