@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@keyframes giro-trazo {
  50% {
    stroke-dashoffset: 440;
  }
}
/* Giro en intervalo. Se aplicará en el lienzo */
@keyframes giro-intervalo {
  0% {
    transform: rotateZ(-449deg);
  }
  50%,
    100% {
    transform: rotateZ(-90deg);
  }
}
/* Animación para giro constante de 360 grados */
@keyframes giro-constante {
  from {
    transform: rotateZ(-359deg);
  }
}
:root {
  --color: #0080d4;
  --diametro: 100px;
}

/* Propiedades comunes del lienzo y la caja */
.size {
  --diametro: 50px;
  width: var(--diametro);
  height: var(--diametro);
}

/* Lienzo donde se ubica la circunferencia */
.lienzo {
  transform: rotateZ(-90deg);
}

.cir {
  fill: none;
}
.cir--completando {
  stroke: var(--color);
  stroke-width: 10;
  /* Matriz de guiones */
  stroke-dasharray: 440;
  stroke-dashoffset: 80;
}

.giro-trazo {
  animation: 2.5s ease giro-trazo infinite;
}
.giro-intervalo {
  animation: 2.5s ease giro-intervalo infinite;
}
.giro-constante {
  animation: 2s linear giro-constante infinite;
}

.loading {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 1.3rem;
  z-index: 10;
}
.loading, .loading__mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__mensaje {
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  width: calc(100% - 20px);
  gap: 10px;
  line-height: 1.15;
}
.loading__mensaje circle {
  stroke: white;
}

::-moz-focus-inner {
  border: 0;
}

:root {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  transition: 300ms ease;
}

body {
  height: 100vh;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #008;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: calc(100% - 20px);
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

pre,
code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #a7a7ff;
  color: #008;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.viewport--width {
  min-width: 100%;
}
.viewport--height {
  min-height: 100vh;
}

.text--small {
  font-size: 0.8em;
}
.text--big {
  font-size: 1.2em;
}
.text--variant {
  font-variant: small-caps;
}
.text--justify {
  text-align: justify;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}

.default,
.predeterminado {
  width: calc(calc(100% - 20px) - 10px);
  max-width: 1200px;
}
.default:not(hr),
.predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.copyright {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.developer {
  position: relative;
  min-height: 30px;
}
.developer--link {
  text-decoration: none;
  color: #a1daff;
  outline: medium none;
}
.developer--link:hover {
  text-decoration: underline;
}

.padding {
  --padding: 5px;
}
.padding--left {
  padding-left: var(--padding);
}
.padding--right {
  padding-right: var(--padding);
}
.padding--horizontal {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.padding--vertical {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.padding--all {
  padding: var(--padding);
}

.marca-de-agua {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.marca-de-agua svg {
  width: 100%;
  height: 100%;
  display: block;
}

.none {
  display: none;
}

.resaltar {
  --color: var(--color-resaltado);
  color: var(--color);
}
.resaltar--azul {
  --color-resaltado: #6666ff;
}
.resaltar--verde {
  --color-resaltado: green;
}
.resaltar--purpura {
  --color-resaltado: purple;
}
.resaltar--morado {
  --color-resaltado: #6b0096;
}
.resaltar--verde-turquesa {
  --color-resaltado: #076161;
}
.resaltar--turquesa {
  --color-resaltado: #0080d4;
}
.resaltar--rosado {
  --color-resaltado: #af00af;
}
.resaltar--naranja {
  --color-resaltado: #f06600 ;
}
.resaltar--amarillo {
  --color-resaltado: #f09500;
}
.resaltar--marron {
  --color-resaltado: brown;
}
.resaltar--gris {
  --color-resaltado: #414141;
}
.resaltar--verde-oscuro {
  --color-resaltado: #030;
}
.resaltar--rojo {
  --color-resaltado: #f00000;
}
.resaltar--verde-brillante {
  --color-resaltado: #00c000;
}
.resaltar--verde-turquesa-claro {
  --color-resaltado: #0a9191;
}
.resaltar--plateado {
  --color-resaltado: #a7a7a7;
}

.presentar {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
  min-height: calc(100vh - 55px);
  transform-origin: center bottom;
  z-index: 2;
}
.presentar:target {
  display: flex;
  animation: 300ms cubic-bezier(1, 0, 0.3, 1) fadeIn 1;
}
@media screen and (max-width: 720px) {
  .presentar {
    flex-direction: column;
    --flex-grow-content: 2;
    --flex-grow-panel: 2;
  }
}
@media screen and (min-width: 721px) {
  .presentar {
    --flex-grow-content: 1;
    --flex-grow-panel: 0;
  }
}
.presentar__inner {
  position: relative;
  background-color: var(--fondo);
  flex-shrink: 1;
}
.presentar__inner--contenido {
  --fondo: black;
  flex-grow: var(--flex-grow-content);
  font-size: 15rem;
  font-family: "EB Garamond", serif;
}
.presentar__inner--panel {
  flex-grow: var(--flex-grow-panel);
  min-width: 100px;
  max-height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  --fondo: #003;
}

.juegos {
  --gap: 10px;
  color: white;
  min-height: 100px;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: var(--gap);
  --diametro: 100px;
}
.juegos svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  height: var(--diametro);
  width: var(--diametro);
}
.juegos path {
  transition: 300ms ease;
  fill: white;
}
.juegos:hover path {
  fill: #ffff9d;
}
.juegos__item {
  background-color: #bd5000;
  color: inherit;
  padding: 20px;
  text-align: center;
  --size: 50px;
  min-height: var(--size);
  max-width: 300px;
  line-height: inherit;
  flex-shrink: 1;
  border-radius: 4px;
  --border-width: 3px;
  border-left: var(--border-width) solid;
  border-top: var(--border-width) solid;
  border-right: var(--border-width) solid;
  border-bottom: calc(var(--border-width) * 2) solid;
  border-color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  line-height: 1.3;
  transition: 300ms ease;
}
.juegos__item:hover {
  background-color: #d75b00;
}
.juegos__item:active {
  transition: none;
  background-color: #bd5000;
}
.juegos__item--text {
  flex-grow: 1;
}
.juegos__item--seleccionar {
  flex-grow: 0;
}

.opciones {
  border-left: 1px solid rgba(0, 0, 136, 0.2);
}
@media screen and (min-width: 450px) {
  .opciones {
    min-width: 360px;
  }
}
@media screen and (max-width: 449px) {
  .opciones {
    width: 100%;
  }
}
.opciones__item {
  --size: 40px;
}
.opciones__item--pestannas {
  position: relative;
  min-height: var(--size);
  background-color: #00006f;
  color: white;
  z-index: 1;
}
.opciones__item--teclado {
  overflow: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: var(--size);
  bottom: 0;
  padding: 0 10px;
}

.pestannas {
  height: var(--size);
  display: flex;
  --forma: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.pestannas__button {
  --fondo: #008;
  --fondo-primario: transparent;
  position: relative;
  border: 0;
  background-color: var(--fondo-primario);
  font: inherit;
  color: inherit;
  flex-grow: 1;
  transition: 300ms ease;
}
.pestannas__button:hover {
  background-color: var(--fondo);
  --fondo: rgba(240, 102, 0, 0.3);
}
.pestannas__button:active {
  background-color: rgba(255, 255, 255, 0.1);
  transition: none;
}
.pestannas__button::before, .pestannas__button::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: auto;
  height: 7px;
  clip-path: var(--forma);
  opacity: var(--opacidad);
  transition: 300ms ease;
}
.pestannas__button::before {
  background-color: white;
  top: calc(100% + 2px);
}
.pestannas__button::after {
  background-color: var(--fondo);
  top: 100%;
}
.pestannas__button--seleccionado {
  --opacidad: 1;
  --fondo: #f06600;
  --fondo-primario: var(--fondo);
}
.pestannas__button--seleccionado:hover {
  --fondo: #ff720b;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000022;
}
.main hr {
  width: 100%;
}
.main__inner {
  flex-shrink: 1;
  width: 100%;
  display: flex;
}
.main__inner--header {
  flex-grow: 0;
  justify-content: space-between;
  gap: 10px;
  font-family: Oswald, sans-serif;
  padding: 0 10px;
  background-color: #000b74;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main__inner--content {
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: stretch;
  color: white;
}

.footer {
  position: relative;
  background-color: black;
  z-index: 1;
}
.footer__inner {
  margin: 0 auto;
  width: 100%;
}
.footer__info {
  background-color: #000022;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid blue;
}

.icon {
  --size: 30px;
  border-radius: 4px;
}
.icon path {
  fill: rgba(255, 255, 255, 0.7);
}
.icon--teclado {
  --size: 40px;
  display: block;
  width: var(--size);
  height: var(--size);
  padding: 5px;
  transition: 300ms ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 600px) {
  .icon--teclado {
    --size: 60px;
  }
}
.icon--teclado:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.icon--teclado:focus {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.icon--teclado:active {
  transition: none;
  background-color: transparent;
}

.autores {
  --gap: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 75%;
  gap: var(--gap);
  color: white;
}
@media screen and (max-width: 650px) {
  .autores {
    flex-wrap: wrap;
    --gap: 0;
  }
}
.autores__item {
  padding: 5px 10px;
  color: white;
}
@media screen and (max-width: 650px) {
  .autores__item {
    width: 100%;
  }
  .autores__item:last-child {
    text-align: right;
  }
}
.autores__enlace {
  color: white;
  transition: 300ms ease;
}
.autores__enlace:hover {
  opacity: 0.7;
}
.autores__enlace:active {
  opacity: 1;
  transition: none;
}

.caracter {
  --gap: 10px;
  background-color: #a1908c27;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: var(--gap);
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0 auto;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: var(--gap);
  gap: var(--gap);
  transition: 300ms ease;
}
.caracter--show {
  display: grid;
}
.caracter__item {
  display: flex;
  align-items: unsafe center;
  justify-content: unsafe center;
  border-radius: 4px;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  font-size: 1.3rem;
}
.caracter__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  --size: 80px;
  --separacion: 10px;
  display: flex;
  align-items: unsafe center;
  gap: var(--separacion);
}
@media screen and (max-width: 720px) {
  .logo {
    --size: 50px;
  }
}
.logo h1,
.logo h3 {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}
.logo h1 {
  font-size: 1.4rem;
}
.logo h3 {
  font-size: 1rem;
}
@media screen and (max-width: 720px) {
  .logo h1 {
    font-size: 1.1rem;
  }
  .logo h3 {
    font-size: 0.9rem;
  }
  .logo h1,
  .logo h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1.3;
  }
}
.logo svg {
  height: var(--size);
  width: var(--size);
}

.teclas {
  --gap: 10px;
  display: grid;
  grid-gap: var(--gap);
  gap: var(--gap);
  padding: 20px 10px;
}
@media screen and (max-width: 720px) {
  .teclas {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 721px) {
  .teclas {
    grid-template-columns: repeat(3, 1fr);
  }
}
.teclas__item {
  --padding: 12%;
  color: var(--color);
  border: 3px solid var(--color);
  background-image: none;
  background-color: transparent;
  border-radius: 3px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  position: relative;
  outline: medium none;
  transition: 300ms ease;
  font-size: 1.5rem;
  font-weight: bold;
}
.teclas__item span {
  pointer-events: none;
}
.teclas__item:hover {
  background-color: var(--color);
  color: white;
}
.teclas__item:active {
  opacity: 0.7;
  transition: none;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}
.content__inner {
  padding: 0 20px;
}

.salir {
  position: absolute;
  margin: auto;
  left: auto;
  right: 5px;
  top: 5px;
  bottom: auto;
  transition: 300ms ease;
  --diametro: 50px;
  font-size: 1rem;
  font-color: white;
  font-family: "Open Sans", sans-serif;
}
.salir a {
  color: inherit;
  width: var(--diametro);
  height: var(--diametro);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms ease;
  border-radius: 3px;
  --size: 25px;
  --color: rgba(255, 255, 255, 0.6);
}
.salir a::before, .salir a::after {
  content: "";
  display: flex;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transform: rotate(45deg);
}
.salir a::before {
  width: var(--size);
  height: calc(var(--size) / 10);
  background-color: var(--color);
}
.salir a::after {
  width: calc(var(--size) / 10);
  height: var(--size);
  background-color: var(--color);
}
.salir a:hover {
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.5);
}

.resaltar {
  animation: 300ms ease resaltar alternate 3;
}

@keyframes resaltar-nocturno {
  from {
    color: #0000bb;
    opacity: 0.5;
  }
}
@keyframes resaltar-claro {
  from {
    color: #0000b1;
  }
}
@keyframes resaltar {
  from {
    opacity: 0.8;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: scale(0.95) rotateX(-10deg);
  }
}

/*# sourceMappingURL=style.css.map */
