@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
::-moz-focus-inner {
  border: 0;
}

:root {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  transition: 300ms ease;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0080d4;
}
a:not([class]):hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: calc(100% - 20px);
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid #6ec6ff;
}

pre,
code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f3faff;
  color: #0080d4;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.viewport--width {
  min-width: 100%;
}
.viewport--height {
  min-height: 100vh;
}

.text--small {
  font-size: 0.8em;
}
.text--big {
  font-size: 1.2em;
}
.text--variant {
  font-variant: small-caps;
}
.text--justify {
  text-align: justify;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}

.default,
.predeterminado {
  width: calc(calc(100% - 20px) - 10px);
  max-width: 1200px;
}
.default:not(hr),
.predeterminado:not(hr) {
  margin: 0 auto;
}

.line--default, .line--predeterminado {
  margin: 20px auto;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
  height: 0;
}

.copyright {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.developer {
  position: relative;
  min-height: 30px;
}
.developer--link {
  text-decoration: none;
  color: #a1daff;
  outline: medium none;
}
.developer--link:hover {
  text-decoration: underline;
}

.padding {
  --padding: 5px;
}
.padding--left {
  padding-left: var(--padding);
}
.padding--right {
  padding-right: var(--padding);
}
.padding--horizontal {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
.padding--vertical {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.padding--all {
  padding: var(--padding);
}

.marca-de-agua {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.marca-de-agua svg {
  width: 100%;
  height: 100%;
  display: block;
}

.resaltar {
  --color: var(--color-resaltado);
  color: var(--color);
}
.resaltar--azul {
  --color-resaltado: blue;
}
.resaltar--verde {
  --color-resaltado: #004d00;
}
.resaltar--purpura {
  --color-resaltado: purple;
}
.resaltar--morado {
  --color-resaltado: #4d006b;
}
.resaltar--verde-turquesa {
  --color-resaltado: #076161;
}
.resaltar--turquesa {
  --color-resaltado: #0080d4;
}
.resaltar--rosado {
  --color-resaltado: #af00af;
}
.resaltar--naranja {
  --color-resaltado: #f06600 ;
}
.resaltar--amarillo {
  --color-resaltado: #f09500;
}
.resaltar--marron {
  --color-resaltado: brown;
}
.resaltar--gris {
  --color-resaltado: #414141;
}
.resaltar--verde-oscuro {
  --color-resaltado: #030;
}
.resaltar--rojo {
  --color-resaltado: #f00000;
}

.presentar {
  display: flex;
  width: 100%;
}
.presentar__inner {
  position: relative;
  background-color: var(--fondo);
  flex-shrink: 1;
}
.presentar__inner--contenido {
  --fondo: #b0e0ff;
  flex-grow: 1;
  font-size: 15rem;
  font-family: "EB Garamond", serif;
}
.presentar__inner--panel {
  flex-grow: 0;
  min-width: 100px;
  max-height: 100%;
  border-left: 1px solid white;
  --fondo: #c5e8ff;
}

.opciones {
  border-top: 1px solid #008fee;
  border-left: 1px solid rgba(0, 128, 212, 0.2);
}
@media screen and (min-width: 450px) {
  .opciones {
    min-width: 360px;
  }
}
@media screen and (max-width: 449px) {
  .opciones {
    width: 100%;
  }
}
.opciones__item {
  --size: 40px;
}
.opciones__item--pestannas {
  position: relative;
  min-height: var(--size);
  background-color: #0071bb;
  color: white;
}
.opciones__item--teclado {
  overflow: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: var(--size);
  bottom: 0;
  padding: 0 10px;
}

.pestannas {
  height: var(--size);
  display: flex;
  --forma: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.pestannas__button {
  position: relative;
  border: 0;
  background-color: transparent;
  font: inherit;
  color: inherit;
  flex-grow: 1;
  transition: 300ms ease;
}
.pestannas__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.pestannas__button:active {
  background-color: rgba(255, 255, 255, 0.1);
  transition: none;
}
.pestannas__button::before, .pestannas__button::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: auto;
  height: 7px;
  clip-path: var(--forma);
  opacity: var(--opacidad);
}
.pestannas__button::before {
  background-color: white;
  top: calc(100% + 2px);
}
.pestannas__button::after {
  background-color: #0080d4;
  top: 100%;
}
.pestannas__button--seleccionado {
  --opacidad: 1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: unsafe center;
  min-height: 100vh;
}
.main hr {
  width: 100%;
}
.main__inner {
  flex-shrink: 1;
  width: 100%;
  display: flex;
  align-items: unsafe center;
}
.main__inner--header {
  flex-grow: 0;
  justify-content: space-between;
  gap: 10px;
  font-family: Oswald, serif;
  padding: 0 10px;
  background-color: #0061a1;
  color: white;
}
.main__inner--content {
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: stretch;
}
.main__inner--footer {
  background-color: var(--color);
  min-height: 40px;
}

.footer__inner {
  margin: 0 auto;
  width: 100%;
}
.footer__info {
  background-color: #00426e;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.icon {
  --size: 30px;
  border-radius: 4px;
}
.icon path {
  fill: rgba(255, 255, 255, 0.7);
}
.icon--teclado {
  --size: 40px;
  display: block;
  width: var(--size);
  height: var(--size);
  padding: 5px;
  transition: 300ms ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 600px) {
  .icon--teclado {
    --size: 60px;
  }
}
.icon--teclado:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.icon--teclado:focus {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.icon--teclado:active {
  transition: none;
  background-color: transparent;
}

.autores {
  --gap: 10px;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  font-size: 75%;
  background-color: #004700;
  gap: var(--gap);
}
@media screen and (max-width: 650px) {
  .autores {
    flex-wrap: wrap;
    --gap: 0;
  }
}
.autores__item {
  padding: 5px 10px;
}
@media screen and (max-width: 650px) {
  .autores__item {
    width: 100%;
  }
  .autores__item:first-child {
    background-color: #0061a1;
  }
  .autores__item:last-child {
    text-align: right;
  }
}
.autores__enlace {
  color: white;
  transition: 300ms ease;
}
.autores__enlace:hover {
  opacity: 0.7;
}
.autores__enlace:active {
  opacity: 1;
  transition: none;
}

.caracter {
  --gap: 10px;
  background-color: #a1908c27;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: var(--gap);
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0 auto;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: var(--gap);
  gap: var(--gap);
  transition: 300ms ease;
}
.caracter--show {
  display: grid;
}
.caracter__item {
  display: flex;
  align-items: unsafe center;
  justify-content: unsafe center;
  border-radius: 4px;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  font-size: 1.3rem;
}
.caracter__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  --size: 80px;
  --separacion: 10px;
  display: flex;
  align-items: unsafe center;
  gap: var(--separacion);
}
.logo h1,
.logo h3 {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}
.logo h1 {
  font-size: 1.4rem;
}
.logo h3 {
  font-size: 1rem;
}
.logo svg {
  height: var(--size);
  width: var(--size);
}

.teclas {
  --gap: 10px;
  display: grid;
  grid-gap: var(--gap);
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 10px;
}
.teclas__item {
  --padding: 12%;
  color: var(--color);
  border: 3px solid var(--color);
  background-image: none;
  background-color: transparent;
  border-radius: 3px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  position: relative;
  outline: medium none;
  transition: 300ms ease;
  font-size: 1.5rem;
  font-weight: bold;
}
.teclas__item:hover {
  background-color: var(--color);
  color: white;
}
.teclas__item:active {
  opacity: 0.7;
  transition: none;
}

@media screen and (prefers-color-scheme: dark) {
  .resaltar {
    animation: 300ms ease resaltar-nocturno 3 alternate;
  }
}
@media screen and (prefers-color-scheme: light) {
  .resaltar {
    animation: 300ms ease resaltar-claro 3 alternate;
  }
}

@keyframes resaltar-nocturno {
  from {
    color: #089dff;
    opacity: 0.5;
  }
}
@keyframes resaltar-claro {
  from {
    color: #0099fd;
  }
}

/*# sourceMappingURL=style.css.map */
